h3 {
  margin: 25vh auto 50px;
}

#js-newGameElement {
  margin-bottom: 50px;
}

#js-playerPickElement {
  margin-bottom: 50px;
}

#js-resultsTableElement {
  max-width: 500px;
}

#pad {
  margin-top: 20px;
}
